* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

div {
  display: block;
}

.Header {
  width: 100vw;
}

.App {
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgb(67, 97, 238),
    rgb(250, 209, 148)
  );
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}

.Body {
  display: flex;
  flex-flow: wrap;
  padding: 50px;
}

.Title {
  font-weight: bold;
  color: #ffe5d9;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AnimatedTitle {
  font-size: 3vw;
}

.SocialList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3vh 0 3vh 0;
}

.SocialItem {
  list-style-type: none;
  padding: 0;
  padding: 15px 15px 15px 0;
  margin-right: 2%;
}

.SocialLink {
  display:block;
  cursor: pointer;
}

.ResumeButton {
  font-family: "Quicksand", sans-serif;
  color: #ffe5d9;
  background: none;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 60px;
  transition: .15s ease-out;
  display: flex;
  align-items: center;
}

.carousel {
  width: 100vw;
  cursor: grab;
  overflow: hidden;
}

.inner-carousel {
  display: flex;
}

.item {
  min-height: 40rem;
  min-width: 30rem;
  background-color: white;
  padding: 40px;
  margin: 10px;
  border-radius: 2rem;
}


@media screen and (max-width: 900px) {
  .Body {
    padding: 25px;
  }

  .Title {
    font-size: 10vw;
  }

  .AnimatedTitle {
    font-size: 8vw;
  }
}
