* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  overflow: hidden;
}

div {
  display: block;
}

.Header {
  width: 100vw;
  display: flex;
  margin-bottom: 20px;
}

.App {
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgb(67, 97, 238),
    rgb(250, 209, 148)
  );
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}

.Body {
  display: flex;
  flex-flow: wrap;
  /* padding: 50px; */
  padding: 3vh 3vh 1vh 3vh;
}

.ColumnLeft {
  width: 60vw;
}

.ColumnRight {
  width: 30vw;
  min-height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.envelope {
  width: 6rem;
  z-index: 2;
}

.card {
  padding-top: 15px;
  transform-style: preserve-3d;
  height: 30vh;
  width: 55%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  background-color: white;
  transform: rotateY(-20deg) rotateX(10deg);
}

.sneaker {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.75s ease-out;
}

h3 {
  font-size: 1rem;
  padding: 0.4rem 0rem;
  margin: 0.2rem;
}

#contact {
  transition: all 0.75s ease-out;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info button {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px;
  font-family: "Quicksand", sans-serif;
  background: none;
  padding: 5% 1vw;
  border-radius: 60px;
  transition: 0.15s ease-out;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.info button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

.Title {
  font-weight: bold;
  color: #ffe5d9;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AnimatedTitle {
  font-size: 3vw;
}

.SocialList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3vh 0 3vh 0;
}

.SocialItem {
  list-style-type: none;
  padding: 0;
  padding: 15px 15px 15px 0;
  margin-right: 2%;
}

.SocialLink {
  display: block;
  cursor: pointer;
}

.ResumeButton {
  font-family: "Quicksand", sans-serif;
  color: #ffe5d9;
  background: none;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 60px;
  transition: 0.15s ease-out;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.carousel {
  width: 100vw;
  cursor: grab;
  overflow: hidden;
  border-radius: 2rem;
}

.inner-carousel {
  display: flex;
  position: relative;
}

.item {
  min-height: 25rem;
  min-width: 50rem;
  padding: 40px;
  margin: 10px;
  border-radius: 2rem;
  box-shadow: 0 5px 14px rgb(0 0 0 / 0.4);
}

@media screen and (max-width: 900px) {
  body {
    overflow: auto;
  }

  .Body {
    padding: 25px;
  }

  .Title {
    font-size: 10vw;
  }

  .AnimatedTitle {
    font-size: 8vw;
  }

  .item {
    min-height: 15rem;
    min-width: 20rem;
  }

  .Header {
    width: 100vw;
    display: flex;
    flex-flow: wrap;
  }

  .ColumnLeft {
    width: 100vw;
  }

  .ColumnRight {
    width: 60vw;
    min-height: 30vh;
    margin: 5vh;
  }

  .card {
    min-width: 35%;
  }
}
